.btn{
  margin-right: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #65509e;
    border-color: #65509e;
}
.btn-primary:hover {
    color: black;
    background-color: #fff;
}
.prod{
  padding: 0px 200px 0px 200px;
}