<h2 class="d-flex mb-3 pt-5 justify-content-between">
  Manager Order
</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Buyer</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>1</td>
              <td width="100"><img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/42/198150/oppo-find-x2-blue-600x600-400x400.jpg" alt=""></td>
              <td>Oppo Find X2</td>
              <td>23.990.000đ</td>
              <td>2</td>
              <td>26-03-2020</td>
              <td><strong>Phạm Nhật Tân</strong><br/>Address: Nhổn - Bắc Từ Liêm - Hà Nội<br/>Phone: 0927381232</td>
              <td>
              <button class="btn btn-primary">Pending...</button>
            </tr>
            <tr>
              <td>1</td>
              <td width="100"><img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/42/198150/oppo-find-x2-blue-600x600-400x400.jpg" alt=""></td>
              <td>Oppo Find X2</td>
              <td>23.990.000đ</td>
              <td>2</td>
              <td>26-03-2020</td>
              <td><strong>Phạm Nhật Tân</strong><br/>Address: Nhổn - Bắc Từ Liêm - Hà Nội<br/>Phone: 0927381232</td>
              <td>
              <button class="btn btn-primary">Pending...</button>
            </tr>
            <tr>
              <td>1</td>
              <td width="100"><img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/42/198150/oppo-find-x2-blue-600x600-400x400.jpg" alt=""></td>
              <td>Oppo Find X2</td>
              <td>23.990.000đ</td>
              <td>2</td>
              <td>26-03-2020</td>
              <td><strong>Phạm Nhật Tân</strong><br/>Address: Nhổn - Bắc Từ Liêm - Hà Nội<br/>Phone: 0927381232</td>
              <td>
              <button type="button" class="btn btn-success">Success</button>
            </tr>
            <tr>
              <td>1</td>
              <td width="100"><img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/42/198150/oppo-find-x2-blue-600x600-400x400.jpg" alt=""></td>
              <td>Oppo Find X2</td>
              <td>23.990.000đ</td>
              <td>2</td>
              <td>26-03-2020</td>
              <td><strong>Phạm Nhật Tân</strong><br/>Address: Nhổn - Bắc Từ Liêm - Hà Nội<br/>Phone: 0927381232</td>
              <td>
              <button type="button" class="btn btn-success">Success</button>
            </tr>
            <tr>
              <td>1</td>
              <td width="100"><img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/42/198150/oppo-find-x2-blue-600x600-400x400.jpg" alt=""></td>
              <td>Oppo Find X2</td>
              <td>23.990.000đ</td>
              <td>2</td>
              <td>26-03-2020</td>
              <td><strong>Phạm Nhật Tân</strong><br/>Address: Nhổn - Bắc Từ Liêm - Hà Nội<br/>Phone: 0927381232</td>
              <td>
              <button type="button" class="btn btn-success">Success</button>
            </tr>
          </thead>
        </table><br/>