p {
  font-family: Lato;
}
.bg-light {
    background-color: #65509e!important;
}
.navbar-light .navbar-brand {
    color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
.nav-cart{
  color: #f8f9fa;
}
.nav-cart:hover{
  color: aqua;
}
.bg-dark {
    background-color: rgb(139, 137, 137)!important;
}
.btn-outline-success {
    margin-right: 10px;
    color: antiquewhite;
    border-color: antiquewhite;
}
.fa-cart-plus{
 font-size: 30px;
 margin-right: 15px;
}

        #addPBtop > i {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--color-text-2);
            font-size: 24px;
            cursor: pointer;
            transition: background-color .25s, box-shadow .25s;
            position: absolute;
            right: 0;
            z-index: 5;
        }

        #addPBtop :hover {
            background-color: #F0F0F0;
        }